%h1 New Comment

= simple_form_for [@dish, @comment] do |f|
 =f.input :text
 =f.input :user_id, as: :select, collection: User.all, include_blank: false
 =f.submit
= link_to 'Cancel', dish_path(@dish)
